/**************************************/
/* Styles (LESS/CSS) files supervisor */
/**************************************/
/* Third party */
@import '../../bower_components/object-fit/dist/polyfill.object-fit.css';
@import '../../bower_components/object-fit/dist/polyfill.object-fit.css';
@import '../../bower_components/slick.js/slick/slick.css';
@import '../../bower_components/slick.js/slick/slick-theme.css';
@import '../../bower_components/owl-carousel2/dist/assets/owl.carousel.css';
@import '../../bower_components/owl-carousel2/dist/assets/owl.theme.default.css';
@import '../../bower_components/swiper/dist/css/swiper.css';
@font-face
{
    font-family: 'begemot-icon-font';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/icon-fonts/begemot-icon-font.eot?61022891');
    src: url('fonts/icon-fonts/begemot-icon-font.eot?61022891#iefix') format('embedded-opentype'),
    url('fonts/icon-fonts/begemot-icon-font.woff?61022891') format('woff'),
    url('fonts/icon-fonts/begemot-icon-font.ttf?61022891') format('truetype'),
    url('fonts/icon-fonts/begemot-icon-font.svg?61022891#begemot-icon-font') format('svg');
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'begemot-icon-font';
    src: url('../font/begemot-icon-font.svg?61022891#begemot-icon-font') format('svg');
  }
}
*/

[class^='icon-']:before,
[class*=' icon-']:before
{
    font-family: 'begemot-icon-font';
    font-weight: normal;
    font-style: normal;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    display: inline-block;

    width: 1em;
    margin-right: .2em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    text-align: center;
    text-decoration: inherit;
    text-transform: none;

    speak: none;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-rouble:before
{
    content: '\e800';
} /* '' */
.icon-skype-circled:before
{
    content: '\e801';
} /* '' */
.icon-mail-circled:before
{
    content: '\e802';
} /* '' */
.icon-phone-circled:before
{
    content: '\e803';
} /* '' */
/* Custom */
/***************************************************/
/* Set custom or change third-party Less variables */
/***************************************************/
/* Third party */
/* Colors */
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.png-sprite:before
{
    display: inline-block;

    content: '';
}
.svg-sprite:before
{
    display: inline-block;

    width: 32px!important;
    height: 32px!important;

    content: '';

    background-size: contain!important;
}
/**
 * @license
 * MyFonts Webfont Build ID 3048774, 2015-06-25T08:26:44-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: ProximaNova-Black by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/black/
 *
 * Webfont: ProximaNova-Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/bold/
 *
 * Webfont: ProximaNova-Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/light/
 *
 * Webfont: ProximaNova-Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular/
 *
 * Webfont: ProximaNovaT-Thin by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/thin/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3048774
 * Licensed pageviews: 1,000,000
 * Webfonts copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 *
 * © 2015 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face
{
    font-family: 'ProximaNova-Black';

    src: url('proxima-nova/2EA374_0_0.eot');
    src: url('proxima-nova/2EA374_0_0.eot?#iefix') format('embedded-opentype'), url('proxima-nova/2EA374_0_0.woff2') format('woff2'), url('proxima-nova/2EA374_0_0.woff') format('woff'), url('proxima-nova/2EA374_0_0.ttf') format('truetype');
}
@font-face
{
    font-family: 'ProximaNova-Bold';

    src: url('proxima-nova/2E8546_1_0.eot');
    src: url('proxima-nova/2E8546_1_0.eot?#iefix') format('embedded-opentype'), url('proxima-nova/2E8546_1_0.woff2') format('woff2'), url('proxima-nova/2E8546_1_0.woff') format('woff'), url('proxima-nova/2E8546_1_0.ttf') format('truetype');
}
@font-face
{
    font-family: 'ProximaNova-Light';

    src: url('proxima-nova/2E8546_2_0.eot');
    src: url('proxima-nova/2E8546_2_0.eot?#iefix') format('embedded-opentype'), url('proxima-nova/2E8546_2_0.woff2') format('woff2'), url('proxima-nova/2E8546_2_0.woff') format('woff'), url('proxima-nova/2E8546_2_0.ttf') format('truetype');
}
@font-face
{
    font-family: 'ProximaNova-Regular';

    src: url('proxima-nova/2E8546_3_0.eot');
    src: url('proxima-nova/2E8546_3_0.eot?#iefix') format('embedded-opentype'), url('proxima-nova/2E8546_3_0.woff2') format('woff2'), url('proxima-nova/2E8546_3_0.woff') format('woff'), url('proxima-nova/2E8546_3_0.ttf') format('truetype');
}
@font-face
{
    font-family: 'ProximaNovaT-Thin';

    src: url('proxima-nova/2E8546_4_0.eot');
    src: url('proxima-nova/2E8546_4_0.eot?#iefix') format('embedded-opentype'), url('proxima-nova/2E8546_4_0.woff2') format('woff2'), url('proxima-nova/2E8546_4_0.woff') format('woff'), url('proxima-nova/2E8546_4_0.ttf') format('truetype');
}
.ProximaNova-Black
{
    font-family: 'ProximaNova-Black', sans-serif;
}
.ProximaNova-Bold
{
    font-family: 'ProximaNova-Bold', sans-serif;
}
.ProximaNova-Light
{
    font-family: 'ProximaNova-Light', sans-serif;
}
.ProximaNova-Regular
{
    font-family: 'ProximaNova-Regular', sans-serif;
}
.ProximaNova-Thin
{
    font-family: 'ProximaNovaT-Thin', sans-serif;
}
h1
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 56px;
    line-height: 72px;

    margin-top: 0;
    margin-bottom: 0;

    color: #1d1e23;
}
h2
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 32px;
    line-height: 40px;

    margin-top: 0;
    margin-bottom: 0;

    color: #1d1e23;
}
h3
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 28px;
    line-height: 40px;

    margin-top: 0;
    margin-bottom: 0;

    color: #1d1e23;
}
h4
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 24px;
    line-height: 32px;

    margin-top: 0;
    margin-bottom: 0;

    color: #1d1e23;
}
h5
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 18px;
    line-height: 24px;

    margin-top: 0;
    margin-bottom: 0;

    color: #1d1e23;
}
h6
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 24px;

    margin-top: 0;
    margin-bottom: 0;

    color: #1d1e23;
}
.main-text
{
    font-family: 'ProximaNova-Light', sans-serif;
    font-size: 18px;
    line-height: 28px;

    margin-top: 0;
    margin-bottom: 0;

    color: #2b343c;
}
.text
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;

    margin-top: 0;
    margin-bottom: 0;

    color: #2b343c;
}
.bg-color-grey
{
    position: relative;

    background-color: #ebeef1;
}
.site-transition
{
    -webkit-transition: all .5s ease;
            transition: all .5s ease;
}
.headers-line
{
    width: 45px;
    height: 2px;
    margin-top: 15px;
    margin-left: 4px;

    border-bottom: 2px solid #f52d42;
}
.headers-line--centered
{
    margin: 0 auto;
}
.pos-r
{
    position: relative;
}
.d-ib
{
    display: inline-block;
}
.container
{
    min-width: 970px;
}
.we-headers
{
    margin-top: 235px;

    text-align: center;
}
.we-main-text
{
    margin-top: 35px;
}
.team
{
    position: relative;

    width: 90%;
    height: 530px;
    margin: 0 auto;
    margin-top: 100px;

    cursor: pointer;

    border: 10px solid #f52d42;
}
@media (max-height: 650px)
{
    .team
    {
        height: 420px;
    }
}
.team:hover .team__name
{
    color: #f52d42;
}
.team__member
{
    width: 760px;
    height: 100%;

    text-align: center;
}
.team__position
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 14px;

    margin-top: 2%;
    margin-bottom: 0;

    letter-spacing: 2px;

    color: #666;
}
.team__name
{
    font-family: 'ProximaNova-Black', sans-serif;
    font-size: 120px;
    font-weight: 600;
    line-height: normal;

    position: relative;
    z-index: 10;

    margin-top: 10px;
    margin-bottom: 0;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    text-transform: uppercase;
}
.team__slogan
{
    font-size: 18px;

    position: relative;
    z-index: 10;

    margin-top: 2%;
    margin-bottom: 2%;
}
@media (max-height: 645px)
{
    .team__slogan
    {
        margin-top: 0;
    }
}
.team__photo
{
    position: absolute;
    right: 0;
    bottom: 0;

    overflow: hidden;

    height: 110%;
    min-height: 460px;

    -o-object-fit: cover;
       object-fit: cover;
}
#we-fullpage .fp-controlArrow
{
    position: absolute;
    z-index: 4;

    width: 72px!important;
    height: 72px!important;
    margin-top: -38px;

    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    border-style: solid;
    background-color: #fff;
}
#we-fullpage .fp-controlArrow.fp-prev
{
    left: 0;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    border: none;
}
#we-fullpage .fp-controlArrow.fp-prev:hover
{
    background-color: #f52d42;
}
#we-fullpage .fp-controlArrow.fp-prev:before
{
    position: absolute;
    z-index: 5;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    border: none;
    background-image: url(../img/images/team-slider-arrow.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#we-fullpage .fp-controlArrow.fp-prev:hover:before
{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);

    background-image: url(../img/images/team-slider-arrow--hover.png);
    background-position: 50% 50%;
}
#we-fullpage .fp-controlArrow.fp-next
{
    right: 0;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    border: none;
}
#we-fullpage .fp-controlArrow.fp-next:hover
{
    background-color: #f52d42;
}
#we-fullpage .fp-controlArrow.fp-next:before
{
    position: absolute;
    z-index: 5;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);

    border: none;
    background-image: url(../img/images/team-slider-arrow.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#we-fullpage .fp-controlArrow.fp-next:hover:before
{
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);

    background-image: url(../img/images/team-slider-arrow--hover.png);
    background-position: 50% 50%;
}
#we-fullpage .fp-slidesNav
{
    position: relative;
    left: 0;

    margin-left: 0!important;

    text-align: center;
}
#we-fullpage .fp-slidesNav.bottom
{
    bottom: 15%;
}
@media (max-height: 800px)
{
    #we-fullpage .fp-slidesNav.bottom
    {
        display: none;
    }
}
#we-fullpage .fp-slidesNav.bottom li
{
    width: 50px;
    height: 2px;
    margin-right: 5px;
}
#we-fullpage .fp-slidesNav.bottom span
{
    width: 50px;
    height: 2px;
    margin: 0;
    margin-right: 5px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    border-radius: 0;
    background-color: #fff;
}
#we-fullpage .fp-slidesNav.bottom span:hover
{
    height: 8px;

    border-radius: 0;
}
#we-fullpage .fp-slidesNav.bottom a.active span
{
    border-radius: 0;
    background-color: #f52d42;
}
.member-wrapper
{
    margin-top: 80px;
}
.member
{
    height: 260px;
    margin-bottom: 50px;
    padding-bottom: 20px;

    cursor: pointer;
    text-align: center;

    background-color: transparent;
}
.member:hover .member__wrapper
{
    background-color: #f52d42;
}
.member:hover .member__name
{
    color: #fff;
}
.member:hover .member__role
{
    display: none;
}
.member:hover .member__arrow
{
    display: inline-block;
}
.member:hover .member__photo-bg
{
    display: none;
}
.member:hover .member__photo
{
    opacity: 1;
}
.member__wrapper
{
    width: 80%;
    height: 260px;
    margin: 0 auto;
    padding-top: 30px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    text-align: center;

    background-color: #fff;
}
.member__photo
{
    position: relative;
    z-index: 5;

    display: inline-block;

    width: 122px;
    height: 122px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    opacity: .35;
    border-radius: 50%;
}
.member__photo-bg
{
    position: relative;
    top: -122px;

    display: inline-block;

    width: 122px;
    height: 122px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    border-radius: 50%;
    background-color: #f52d42;
}
.member__name
{
    font-family: 'ProximaNova-Black', sans-serif;
    font-weight: 600;
    line-height: 36px;

    position: relative;
    z-index: 5;
    top: -130px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
}
.member__role
{
    font-size: 12px;
    line-height: normal;

    position: relative;
    top: -117px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    text-transform: uppercase;
}
.member__arrow
{
    position: relative;
    bottom: 112px;

    display: none;

    width: 26px;
    height: 9px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -125px -68px;
}
.vacancy-wrapper
{
    margin-top: 35px;
    margin-bottom: 150px;
}
.vacancy
{
    height: 340px;
    padding-top: 65px;

    cursor: pointer;
    text-align: center;

    border: 10px solid #f52d42;
}
.vacancy:hover
{
    background-color: #f52d42;
}
.vacancy:hover .vacancy__name
{
    color: #fff;
}
.vacancy:hover .vacancy__offer
{
    color: #fff;
}
.vacancy:hover .vacancy__arrow
{
    width: 26px;
    height: 9px;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -69px -39px;
}
.vacancy__name
{
    margin-bottom: 40px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
}
.vacancy__offer
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 24px;

    margin-bottom: 50px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
}
.vacancy__arrow
{
    display: inline-block;

    width: 26px;
    height: 9px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -107px -85px;
}
.vacancy-modal
{
    display: none;

    width: 100%;
    height: 100%;

    background-color: #fff;
}
.vacancy-modal--active
{
    display: block;
}
.vacancy-modal__wrapper
{
    overflow: auto;

    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.vacancy-modal__title
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 56px;

    margin-bottom: 60px;
}
.vacancy-modal__subtitle
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 24px;

    margin-top: 0;
    margin-bottom: 0;
}
.vacancy-modal__text
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;

    margin-top: 20px;
    margin-bottom: 20px;
}
.vacancy-modal__btn
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;

    position: relative;

    width: 370px;
    height: 60px;
    margin-top: 65px;
    padding-left: 30px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    text-align: left;
    text-transform: uppercase;

    border: 4px solid #f52d42;
    outline: none;
    background-color: transparent;
}
.vacancy-modal__btn:hover
{
    color: #fff;
    background-color: #f52d42;
}
.vacancy-modal__btn:hover .vacancy-modal__arrow
{
    width: 26px;
    height: 9px;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -69px -39px;
}
.vacancy-modal__arrow
{
    position: absolute;
    top: calc(50% - 5px);
    right: 30px;

    display: inline-block;

    width: 26px;
    height: 9px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -69px -30px;
}
.vacancy-modal__cross
{
    position: absolute;
    top: 50px;
    right: 40px;

    display: inline-block;

    width: 37px;
    height: 38px;

    cursor: pointer;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -32px 0;
}
.we-slide
{
    margin-top: 150px;
}
.we-slide .slick-next,
.we-slide .slick-prev
{
    position: absolute;
    top: calc(50% + 36px);

    display: block;

    width: 72px;
    height: 72px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    background-color: #fff;
}
.we-slide .slick-next:hover,
.we-slide .slick-prev:hover
{
    background-color: #f52d42;
}
.we-slide .slick-next:before,
.we-slide .slick-prev:before
{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    border: none;
    background-image: url(../img/images/team-slider-arrow.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.we-slide .slick-next:hover:before,
.we-slide .slick-prev:hover:before
{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);

    background-image: url(../img/images/team-slider-arrow--hover.png);
    background-position: 50% 50%;
}
.we-slide .slick-next
{
    right: 0;

    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.we-slide .slick-prev
{
    left: 0;
}
.we-slide .slick-dots li
{
    display: inline-block;

    width: 50px;
    height: 2px;
    margin-right: 5px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    background-color: #fff;
}
.we-slide .slick-dots li.slick-active
{
    height: 8px;

    border-radius: 0;
    background-color: #f52d42;
}
.we-slide .slick-dots li:hover
{
    height: 8px;

    border-radius: 0;
    background-color: #f52d42;
}
.we-slide .slick-dots button
{
    width: 50px;
    height: 2px;
    margin: 0;
    margin-right: 5px;
    padding: 0;

    border-radius: 0;
    background-color: transparent;
}
.we-slide .slick-dots button:before
{
    font-size: 0;
    line-height: 0;

    content: '';

    color: transparent;
}
.header
{
    position: fixed;
    z-index: 50;
    top: 0;

    width: 100%;
    min-width: 1024px;
    height: 75px;

    background-color: #fff;
}
@media (max-width: 1024px)
{
    .header
    {
        width: 1024px;
    }
}
.header__logo-link
{
    display: block;
    float: left;

    width: 245px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 60px;
}
@media (max-width: 1150px)
{
    .header__logo-link
    {
        margin-left: 40px;
    }
}
.header__logo
{
    display: inline-block;

    width: 243px;
    height: 37px;
}
.header__menu
{
    display: inline-block;

    padding: 0;

    list-style-type: none;
}
@media (max-width: 1650px)
{
    .header__menu
    {
        position: absolute;
        z-index: 5;
        left: 0;

        display: none;

        width: 200px;
        padding-bottom: 45px;
        padding-left: 35px;

        background-color: #fff;
    }
}
.header__menu--show
{
    position: static;

    display: inline-block;

    width: auto;

    background-color: transparent;
}
@media (max-width: 1650px)
{
    .header__menu--active
    {
        display: inline-block;
    }
}
.header__gamburger
{
    display: none;
}
@media (max-width: 1650px)
{
    .header__gamburger
    {
        display: block;
        float: left;

        width: 28px;
        height: 21px;
        margin-top: 30px;

        background-image: url(../img/sprites/png/png-sprite.png);
        background-position: -107px -47px;
    }
}
.header__menu-cross
{
    display: none;
}
@media (max-width: 1650px)
{
    .header__menu-cross
    {
        display: inline-block;

        width: 18px;
        height: 17px;
        margin-top: 5px;
        margin-bottom: 55px;

        opacity: .7;
        background-image: url(../img/sprites/png/png-sprite.png);
        background-position: -107px -68px;
    }
    .header__menu-cross:hover
    {
        opacity: 1;
    }
}
.header__menu-item
{
    line-height: 75px;

    display: inline-block;

    margin-right: 80px;
}
@media (max-width: 1150px)
{
    .header__menu-item
    {
        margin-right: 40px;
    }
}
.header__menu-item:last-child
{
    margin-right: 0;
}
@media (max-width: 1650px)
{
    .header__menu-item
    {
        line-height: normal;

        display: list-item;

        margin-top: 25px;
    }
}
.header__menu-link
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    text-decoration: underline;
    text-transform: uppercase;

    color: #56575b;
}
.header__menu-link:hover
{
    color: #f52d42;
}
.header__btn
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 30px;

    height: 35px;
    margin-top: 20px;
    margin-right: 60px;
    padding-right: 20px;
    padding-left: 20px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    text-align: center;
    text-transform: uppercase;

    color: #000;
    border: 2px solid #000;
    outline: none;
    background-color: #fff;
}
@media (max-width: 1150px)
{
    .header__btn
    {
        margin-right: 40px;
    }
}
.header__btn--employee
{
    margin-right: 50px;
    margin-left: 5px;
}
.header__btn:hover
{
    color: #f52d42;
    border: 2px solid #f52d42;
}
.header__menu--show > .header__menu-item
{
    display: inline-block;
}
.header-main
{
    position: fixed;
    z-index: 50;
    top: 0;

    width: 100%;
    min-width: 1024px;
    height: 75px;

    background-color: #fff;
}
@media (max-width: 1024px)
{
    .header-main
    {
        width: 1024px;
    }
}
.header-main__logo-link
{
    display: block;
    float: left;

    width: 245px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 60px;
}
@media (max-width: 1150px)
{
    .header-main__logo-link
    {
        margin-left: 40px;
    }
}
.header-main__logo
{
    display: inline-block;

    width: 243px;
    height: 37px;
}
.header-main__menu
{
    display: inline-block;

    padding: 0;

    list-style-type: none;
}
.header-main__menu-cross
{
    display: none;
}
.header-main__menu-item
{
    line-height: 75px;

    display: inline-block;

    margin-right: 80px;
}
@media (max-width: 1150px)
{
    .header-main__menu-item
    {
        margin-right: 40px;
    }
}
.header-main__menu-item:last-child
{
    margin-right: 0;
}
.header-main__menu-link
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    text-decoration: underline;
    text-transform: uppercase;

    color: #56575b;
}
.header-main__menu-link:hover
{
    color: #f52d42;
}
.header-main__btn
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 30px;

    height: 35px;
    margin-top: 20px;
    margin-right: 60px;
    padding-right: 20px;
    padding-left: 20px;

    text-align: center;
    text-transform: uppercase;

    color: #000;
    border: 2px solid #000;
    outline: none;
    background-color: #fff;
}
@media (max-width: 1150px)
{
    .header-main__btn
    {
        margin-right: 40px;
    }
}
.header-main__btn:hover
{
    color: #f52d42;
    border: 2px solid #f52d42;
}
.header-index
{
    position: relative;
    z-index: 50;

    min-width: 1024px;
    height: 75px;

    text-align: center;
}
@media (max-width: 1024px)
{
    .header-index
    {
        width: 1024px;
    }
}
.header-index__logo
{
    display: inline-block;

    width: 243px;
    height: 37px;
}
.header-index__logo-link
{
    position: absolute;
    top: 18px;
    left: 60px;
}
@media (max-width: 1150px)
{
    .header-index__logo-link
    {
        left: 40px;
    }
}
.header-index__menu
{
    display: inline-block;

    padding: 0;

    list-style-type: none;
}
.header-index__menu-item
{
    display: inline-block;

    margin-right: 80px;
}
@media (max-width: 1150px)
{
    .header-index__menu-item
    {
        margin-right: 40px;
    }
}
.header-index__menu-item:last-child
{
    margin-right: 0;
}
.header-index__menu-link
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 75px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    text-decoration: underline;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #666;
}
.header-index__menu-link:hover
{
    color: #f52d42;
}
.header-index__btn
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 30px;

    position: absolute;
    top: 20px;
    right: 60px;

    height: 35px;
    padding-right: 20px;
    padding-left: 20px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    text-align: center;
    text-transform: uppercase;

    color: #000;
    border: 2px solid #000;
    outline: none;
    background-color: transparent;
}
@media (max-width: 1150px)
{
    .header-index__btn
    {
        right: 40px;
    }
}
@media (max-width: 880px)
{
    .header-index__btn
    {
        display: none;
    }
}
.header-index__btn:hover
{
    color: #f52d42;
    border: 2px solid #f52d42;
}
.employee-toggle
{
    display: none;
    float: right;

    width: 500px;
    margin-top: 10px;
}
.employee-toggle--active
{
    display: block;
}
.employee-toggle__arrow
{
    display: inline-block;

    width: 44px;
    height: 22px;
    margin-right: 10px;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -107px 0;
}
.employee-toggle__arrow--next
{
    margin-right: 0;
    margin-left: 10px;

    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.employee-toggle__person
{
    display: inline-block;

    width: 150px;
}
.employee-toggle__person:hover .employee-toggle__role
{
    color: #f52d42;
}
.employee-toggle__person:hover .employee-toggle__name
{
    color: #f52d42;
}
.employee-toggle__role
{
    font-family: 'ProximaNova-Light', sans-serif;
    font-size: 12px;
    line-height: 24px;

    display: inline-block;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    color: #666;
}
.employee-toggle__name
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 24px;

    display: inline-block;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    text-transform: uppercase;

    color: #000;
}
.footer
{
    position: fixed;
    z-index: 10;
    bottom: 290px;
    left: calc(50% - 285px);

    width: 570px;
    height: 70px;

    background-color: #fff;
}
@media (max-height: 850px)
{
    .footer
    {
        bottom: 250px;
    }
}
@media (max-height: 850px)
{
    .footer
    {
        bottom: 200px;
    }
}
@media (max-height: 750px)
{
    .footer
    {
        bottom: 150px;
    }
}
.footer--after-scroll
{
    bottom: 0;
}
.footer__menu
{
    display: inline-block;

    padding-right: 70px;
    padding-left: 70px;

    list-style-type: none;
}
.footer__menu-item
{
    display: inline-block;

    margin-right: 48px;
}
.footer__menu-item:last-child
{
    margin-right: 0;
}
.footer__menu-item.active > .footer__menu-link
{
    text-decoration: none;

    color: #f52d42;
}
.footer__menu-link
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 13px;
    line-height: 75px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    text-decoration: underline;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #666;
    outline: none;
}
.footer__menu-link:hover
{
    color: #f52d42;
}
.footer__menu-link:focus
{
    color: #666;
    outline: none;
}
.footer__hr
{
    height: 3px;
    margin-top: 50px;
    margin-bottom: 50px;

    background-color: #000;
}
.footer__title
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.footer__text
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.graduate-section
{
    position: relative;

    margin-top: 150px;
}
.graduate-about
{
    margin-top: 75px;
}
.graduate-border
{
    position: absolute;
    z-index: 1;
    top: -35px;
    left: 15px;

    width: 400px;
    height: 310px;

    border: 8px solid #f52d42;
}
@media (max-width: 1200px)
{
    .graduate-border
    {
        width: 350px;
    }
}
.graduate
{
    position: relative;
    z-index: 5;

    height: 485px;
    margin-bottom: 120px;
    padding-top: 55px;
    padding-bottom: 50px;

    text-align: center;

    background-color: #fff;
}
.graduate__photo
{
    position: relative;
    z-index: 15;

    display: inline-block;

    width: 230px;
    height: 230px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    opacity: .35;
    border-radius: 50%;
}
.graduate__photo-bg
{
    position: relative;
    top: -230px;

    display: inline-block;

    width: 230px;
    height: 230px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    border-radius: 50%;
    background-color: #f52d42;
}
.graduate__name
{
    font-family: 'ProximaNova-Black', sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 55px;

    position: relative;
    z-index: 25;
    bottom: 270px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
}
@media (max-width: 1200px)
{
    .graduate__name
    {
        font-size: 42px;
    }
}
.graduate__role
{
    font-size: 14px;
    line-height: normal;

    position: relative;
    top: -230px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.graduate-text__title
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 28px;
    line-height: normal;

    margin-top: 0;
    margin-bottom: 0;
}
.graduate-text__text
{
    font-family: 'ProximaNova-Light', sans-serif;
    font-size: 16px;
    line-height: 24px;

    margin-top: 30px;
    margin-bottom: 20px;

    color: #2b343c;
}
.interview-section
{
    margin-top: 80px;
}
.interview
{
    position: relative;

    margin-bottom: 20px;
}
.interview__bg
{
    position: absolute;

    width: 100%;
    height: 100%;

    opacity: .1;

    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}
.interview__wrapper
{
    padding: 10px 0;
}
.interview__block
{
    position: relative;

    width: 93%;
    min-height: 210px;
    margin: 0 auto;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;

    cursor: pointer;

    border: 8px solid #f52d42;
}
@media (max-width: 1200px)
{
    .interview__block
    {
        min-height: 250px;
    }
}
.interview__block:hover
{
    background-color: #f52d42;
}
.interview__block:hover .interview__text
{
    color: #fff;
}
.interview__block:hover .interview__date
{
    color: #fff;
}
.interview__block:hover .interview__line
{
    background-color: #fff;
}
.interview__text
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 18px;
    line-height: 22px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
}
.interview__date
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 14px;

    position: absolute;
    bottom: 20px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
}
.interview__line
{
    position: absolute;
    right: 20px;
    bottom: 20px;

    display: inline-block;

    width: 40px;
    height: 2px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    background-color: #f52d42;
}
.employee
{
    position: relative;
    z-index: 10;

    margin-top: 120px;
}
.employee__name
{
    font-family: 'ProximaNova-Black', sans-serif;
    font-size: 120px;
    font-weight: 600;
    line-height: 120px;

    position: relative;
    z-index: 10;
}
@media (max-height: 780px)
{
    .employee__name
    {
        line-height: 100px;
    }
}
.employee__role
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 28px;

    position: relative;
    z-index: 10;

    margin-top: 50px;
}
@media (max-height: 780px)
{
    .employee__role
    {
        margin-top: 20px;
    }
}
.employee__text
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 16px;

    position: relative;
    z-index: 10;

    margin-top: 25px;
}
@media (max-height: 780px)
{
    .employee__text
    {
        margin-top: 10px;
    }
}
.employee-nav
{
    position: relative;
    z-index: 15;

    margin-top: 25px;
    margin-bottom: 20px;
    padding: 0;

    list-style-type: none;
}
@media (max-height: 780px)
{
    .employee-nav
    {
        margin-top: 5px;
    }
}
.employee-nav__item
{
    display: inline-block;
}
.employee-nav__arrow
{
    display: inline-block;

    width: 46px;
    height: 9px;
    margin-right: 20px;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: 0 -102px;
}
.employee-nav__link
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 15px;

    display: inline-block;

    margin-right: 40px;

    text-decoration: underline;

    color: #666;
}
.employee-nav__link:hover
{
    color: #f52d42;
}
.employee-photo
{
    position: relative;
}
.employee-photo__img
{
    position: absolute;
    z-index: 5;
    top: -65px;
    right: -50px;

    max-height: 800px;
}
@media (max-height: 780px)
{
    .employee-photo__img
    {
        max-width: 650px;
    }
}
.employee-photo__border
{
    position: absolute;
    z-index: 1;
    right: -5%;

    display: inline-block;

    width: 940px;
    height: 570px;

    border: 10px solid #f52d42;
}
@media (max-height: 780px)
{
    .employee-photo__border
    {
        height: 450px;
    }
}
.employee-header
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 56px;

    margin-top: 180px;
    margin-bottom: 75px;
}
.employee-interview-mb
{
    height: 180px;
}
.employee-sidebar-text
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 11px;

    position: absolute;
    top: 115px;
    left: -80px;

    width: 160px;

    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.index-lead
{
    margin-top: 100px;

    text-align: center;

    border: 10px solid #fff;
}
.index-lead__title
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 64px;

    margin-top: 10%;
}
.index-lead__slogan
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 36px;

    margin-bottom: 10%;
}
.arrows-down-index
{
    width: 27px;
    height: 25px;
    margin: 0 auto;
    margin-top: 5%;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -107px -22px;
}
.arrows-down-index > a
{
    display: inline-block;

    width: 27px;
    height: 25px;
}
.index-title
{
    font-family: 'ProximaNova-Black', sans-serif;
    font-size: 32px;
    font-weight: 600;
}
.index-text
{
    margin-top: 35px;
}
.index-num
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 24px;

    display: inline-block;

    margin-top: 55px;
    margin-right: 55px;
    margin-bottom: 30px;
}
.index-num__digit
{
    font-size: 30px;

    color: #f52d42;
}
.who-we-are-text
{
    position: absolute;
    z-index: 20;

    width: 170%;
}
.who-we-are
{
    position: relative;
    top: -55px;
}
.who-we-are__img
{
    position: relative;
    z-index: 5;

    -o-object-fit: cover;
       object-fit: cover;
}
.who-we-are .slick-dots
{
    right: 15px;
    bottom: -40px;

    width: 22%;

    text-align: center;
}
.who-we-are .slick-dots li button
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 15px;
    line-height: 25px;

    padding: 0;

    color: #000;
}
.who-we-are .slick-dots li.slick-active button
{
    color: #f52d42;
}
.who-we-are .slick-dots button:before
{
    display: none;
}
.who-we-are-nav
{
    position: absolute;
    right: 15px;
    bottom: 55px;

    width: 25%;
}
.who-we-are-nav__prev
{
    width: 10px;
    height: 16px;

    opacity: .9;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -135px -47px;
}
.who-we-are-nav__next
{
    float: right;

    width: 10px;
    height: 16px;

    opacity: .9;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -134px -22px;
}
.index-subtitle
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 18px;
    line-height: normal;

    width: 140px;
    margin-top: 20px;
}
.awards
{
    padding-top: 25px;
}
.awards__img
{
    width: 150px;
    height: 110px;
    margin-top: 10px;
    margin-right: 50px;

    background-color: #dce2e8;
}
.awards__img:last-child
{
    margin-right: 0;
}
.brands
{
    padding-top: 65px;
}
.brands__img
{
    margin-top: 10px;
    margin-right: 30px;
}
.brands__img:last-child
{
    margin-right: 0;
}
.apps
{
    position: relative;
}
.apps__slider
{
    position: relative;
    bottom: 180px;
}
.apps__slider .slick-dots
{
    bottom: 42px;
    left: 100px;

    text-align: left;
}
.apps__slider .slick-dots li button
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 15px;
    line-height: 25px;

    padding: 0;

    color: #000;
}
.apps__slider .slick-dots li.slick-active button
{
    color: #f52d42;
}
.apps__slider .slick-dots button:before
{
    display: none;
}
.apps__slide
{
    position: relative;

    margin-top: 130px;
}
.apps__slide-wrapper
{
    margin-top: 75px;
    padding-top: 50px;
    padding-right: 45px;
    padding-bottom: 40px;
    padding-left: 60px;

    border: 10px solid #f52d42;
}
.apps__when
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 25px;

    margin-bottom: 15px;

    text-transform: uppercase;
}
.apps__name
{
    font-family: 'ProximaNova-Light', sans-serif;
    font-size: 56px;
    line-height: 25px;

    position: relative;
    left: -4px;

    margin-bottom: 35px;
}
.apps__about
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 16px;
    line-height: 25px;
}
.apps__goal
{
    float: left;

    width: 230px;
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 35px;
}
.apps__goal-title
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 25px;

    margin-bottom: 10px;

    text-transform: uppercase;
}
.apps__goal-text
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 16px;
    line-height: 25px;
}
.apps__case
{
    clear: both;

    margin-bottom: 100px;
}
.apps__arrow
{
    position: relative;

    display: inline-block;

    width: 26px;
    height: 9px;
    margin-right: 15px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -69px -30px;
}
.apps__case-view
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 15px;

    text-decoration: underline;

    color: #000;
}
.apps__case-view:hover
{
    color: #f52d42;
}
.apps__img
{
    position: absolute;
    right: 45px;
    bottom: 10px;

    height: 120%;
}
.apps-nav
{
    position: relative;
    bottom: 280px;
    left: 70px;

    width: 20%;
}
.apps-nav__prev
{
    position: relative;

    width: 10px;
    height: 16px;

    opacity: .9;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -135px -47px;
}
.apps-nav__next
{
    position: relative;
    left: -65px;

    float: right;

    width: 10px;
    height: 16px;

    opacity: .9;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -134px -22px;
}
.why-us
{
    position: relative;

    width: 85%;
    height: 500px;
    margin-top: 75px;

    border: 10px solid #fff;
}
.why-us__left
{
    position: relative;

    float: left;

    width: 50%;
}
.why-us__right
{
    position: relative;
    left: 170px;

    float: left;

    width: 50%;
    margin-top: 30px;
}
.why-us__img
{
    position: relative;
    z-index: 5;
    top: -110px;
}
.why-us__titles
{
    position: absolute;
    z-index: 10;
    top: 180px;

    width: 350px;
    margin-left: 70px;
}
.why-us__title
{
    font-family: 'ProximaNova-Black', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;

    position: relative;

    display: inline-block;

    margin-bottom: 40px;
    padding-bottom: 10px;

    cursor: pointer;
    -webkit-transition: .5s all ease;
            transition: .5s all ease;
    text-decoration: none;

    color: #000;
    border-bottom: 4px solid #000;
}
.why-us__title--current,
.why-us__title:hover,
.why-us__title:focus
{
    text-decoration: none;

    color: #f52d42;
    border-bottom: 4px solid #f52d42;
}
.why-us__quotes
{
    position: absolute;
    top: 60px;
    left: 550px;

    display: inline-block;

    width: 38px;
    height: 30px;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -69px 0;
}
@media (max-width: 1200px)
{
    .why-us__quotes
    {
        left: 20px;
    }
}
.why-us__name
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: normal;

    position: absolute;
    top: 110px;
    left: 520px;

    text-align: right;
    text-transform: uppercase;
}
@media (max-width: 1200px)
{
    .why-us__name
    {
        left: 20px;
    }
}
.why-us__text
{
    font-family: 'ProximaNova-Light', sans-serif;
    font-size: 18px;
    line-height: 28px;

    margin-bottom: 30px;
}
.why-us__photo
{
    display: inline-block;

    width: 120px;
    height: 120px;
    margin-bottom: 10px;

    border-radius: 50%;
    background-color: #dce2e8;
}
.why-us__client
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 24px;

    margin: 0;
    margin-bottom: 10px;
}
.why-us__client-role
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 15px;

    color: #f52d42;
}
.why-us__client-text
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.tick
{
    margin-top: 100px;
}
.trick
{
    position: relative;

    height: 420px;

    border: 4px solid #fff;
}
.trick__img
{
    position: absolute;
    top: -100px;
    right: 0;
}
.trick-quote
{
    position: absolute;
    z-index: 20;
    top: 300px;
    left: 300px;

    width: 500px;
}
.trick-quote__quote
{
    float: left;

    margin-right: 55px;
}
.trick-quote__quotes
{
    display: inline-block;

    width: 38px;
    height: 30px;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -69px 0;
}
.trick-quote__text
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 16px;
    line-height: 20px;

    float: left;

    width: 350px;
    margin-bottom: 35px;
    padding-top: 20px;
}
.trick-quote__read-more
{
    margin-top: 30px;
}
.trick-quote__arrow
{
    position: relative;

    display: inline-block;

    width: 26px;
    height: 9px;
    margin-right: 15px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -69px -30px;
}
.trick-quote__link
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 15px;

    text-decoration: underline;

    color: #000;
}
.contact-form
{
    display: block;

    height: 500px;
    padding: 20px;

    border: 10px solid #fff;
}
.contact-form__label
{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 12px;

    display: block;

    margin-bottom: 10px;

    border-bottom: 4px solid #fff;
}
.contact-form__label--textarea
{
    border: none;
}
.contact-form__label--phone
{
    float: left;

    width: 46%;
    margin-right: 2%;
}
.contact-form__label--email
{
    float: left;

    width: 46%;
    margin-left: 2%;
}
.contact-form__input
{
    font-family: 'ProximaNova-Light', sans-serif;
    font-size: 18px;
    line-height: 30px;

    display: block;

    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;

    border: none;
    outline: none;
    background-color: transparent;
}
.contact-form__input::-webkit-input-placeholder
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 30px;

    color: #666;
}
.contact-form__input::-moz-placeholder
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 30px;

    color: #666;
}
.contact-form__input:-moz-placeholder
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 30px;

    color: #666;
}
.contact-form__input:-ms-input-placeholder
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 30px;

    color: #666;
}
.contact-form__input:focus::-webkit-input-placeholder
{
    color: transparent;
}
.contact-form__input:focus::-moz-placeholder
{
    color: transparent;
}
.contact-form__input:focus:-moz-placeholder
{
    color: transparent;
}
.contact-form__input:focus:-ms-input-placeholder
{
    color: transparent;
}
.contact-form__textarea
{
    display: block;
    clear: both;

    width: 100%;
    height: 170px;
    margin-top: 15px;
    margin-bottom: 5px;

    resize: none;

    border: none;
    outline: none;
    background-color: transparent;
}
.contact-form__textarea::-webkit-input-placeholder
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 30px;

    color: #666;
}
.contact-form__textarea::-moz-placeholder
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 30px;

    color: #666;
}
.contact-form__textarea:-moz-placeholder
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 30px;

    color: #666;
}
.contact-form__textarea:-ms-input-placeholder
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;
    line-height: 30px;

    color: #666;
}
.contact-form__textarea:focus::-webkit-input-placeholder
{
    color: transparent;
}
.contact-form__textarea:focus::-moz-placeholder
{
    color: transparent;
}
.contact-form__textarea:focus:-moz-placeholder
{
    color: transparent;
}
.contact-form__textarea:focus:-ms-input-placeholder
{
    color: transparent;
}
.contact-form__btn
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 14px;

    position: relative;

    width: 240px;
    height: 60px;
    margin-top: 10px;
    padding-left: 30px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    text-align: left;
    text-transform: uppercase;

    border: 4px solid #f52d42;
    outline: none;
    background-color: transparent;
}
.contact-form__btn:hover
{
    color: #fff;
    background-color: #f52d42;
}
.contact-form__btn:hover .contact-form__arrow
{
    width: 26px;
    height: 9px;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -69px -39px;
}
.contact-form__arrow
{
    position: absolute;
    top: calc(50% - 5px);
    right: 30px;

    display: inline-block;

    width: 26px;
    height: 9px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    background-image: url(../img/sprites/png/png-sprite.png);
    background-position: -69px -30px;
}
.contact-form__sented
{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 24px;
    line-height: 30px;
}
.section-6
{
    margin-top: 250px;
    margin-bottom: 100px;
}
.section-2
{
    margin-top: 100px;
    margin-bottom: 100px;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span
{
    width: 6px;
    height: 6px;
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span
{
    width: 10px;
    height: 10px;

    border: 2px solid #f52d42;
    background-color: transparent;
}
.swiper-container
{
    width: 100%;
}
.swiper-container .swiper-slide
{
    opacity: 0!important;
}
.swiper-container .swiper-slide-active
{
    opacity: 1!important;
}
