.header{
  background-color: @white;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  min-width: 1024px;
  @media (max-width: 1024px) {
    width: 1024px;
  }

  &__gamburger{
    display: none;
    @media (max-width: 1650px) {
      .sprite(@sprite-gamburger);
      display: block;
      width: 28px;
      height: 21px;
      float: left;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 30px;
    }
  }
  &__logo-link{
    display: block;
    width: 245px;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 60px;
    @media (max-width: 1150px) {
      margin-left: 40px;
    }
  }
  &__logo{
    display: inline-block;
    width: 243px;
    height: 37px;
  }
  &__menu{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    @media (max-width: 1650px) {
      display: none;
      background-color: @white;
      width: 200px;
      padding-left: 35px;
      padding-bottom: 45px;
    }
    &--active{
      @media (max-width: 1650px) {
        display: inline-block;
      }
    }
  }
  &__menu-cross{
    display: none;
    @media (max-width: 1650px) {
      .sprite(@sprite-header-menu-cross);
      display: inline-block;
      margin-bottom: 55px;
      margin-top: 5px;
    }
  }
  &__menu-item{
    display: inline-block;
    margin-right: 80px;
    line-height: 75px;
    @media (max-width: 1150px) {
      margin-right: 40px;
    }
    &:last-child{
      margin-right: 0;
    }
    @media (max-width: 1650px) {
      display: list-item;
      line-height: normal;
      margin-top: 25px;
    }
  }
  &__menu-link{
    .ProximaNova-Bold;
    color: @grey;
    font-size: 14px;
    text-decoration: underline;
    text-transform: uppercase;
    .site-transition;
    &:hover{
      color: @red;
    }
  }
  &__btn{
    .ProximaNova-Bold;
    font-size: 14px;
    color: @black;
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    border: 2px solid @black;
    background-color: @white;
    outline: none;
    margin-right: 60px;
    margin-top: 20px;
    @media (max-width: 1150px) {
      margin-right: 40px;
    }
    .site-transition;
    &:hover{
      color: @red;
      border: 2px solid @red;
    }
  }
}

.header-index{
  height: 75px;
  text-align: center;
  min-width: 1024px;
  @media (max-width: 1024px) {
    width: 1024px;
  }
  position: relative;
  z-index: 50;

  &__logo{
    display: inline-block;
    width: 243px;
    height: 37px;
  }
  &__logo-link{
    position: absolute;
    left: 60px;
    top: 18px;
    @media (max-width: 1150px) {
      left: 40px;
    }
  }
  &__menu{
    display: inline-block;
    list-style-type: none;
    padding: 0;
  }
  &__menu-item{
    display: inline-block;
    margin-right: 80px;
    @media (max-width: 1150px) {
      margin-right: 40px;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &__menu-link{
    .ProximaNova-Bold;
    color: @dark;
    font-size: 14px;
    line-height: 75px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 2px;
    .site-transition;
    &:hover{
      color: @red;
    }
  }
  &__btn{
    .ProximaNova-Bold;
    position: absolute;
    right: 60px;
    top: 20px;
    @media (max-width: 1150px) {
      right: 40px;
    }
    @media (max-width: 880px) {
      display: none;
    }
    font-size: 14px;
    color: @black;
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    border: 2px solid @black;
    background-color: transparent;
    outline: none;
    .site-transition;
    &:hover{
      color: @red;
      border: 2px solid @red;
    }
  }
}

.employee-toggle{
  width: 500px;
  float: right;
  margin-top: 10px;
  display: none;
  &--active{
    display: block;
  }

  &__arrow{
    .sprite(@sprite-employee-arrow);
    display: inline-block;
    margin-right: 25px;
    &--next{
      transform: rotate(180deg);
      margin-right: 0;
      margin-left: 25px;
    }
  }
  &__person{
    display: inline-block;
    width: 150px;
    &:hover{
      .employee-toggle__role{ color: @red;  }
      .employee-toggle__name{ color: @red;  }
    }
  }
  &__role{
    display: inline-block;
    .ProximaNova-Light;
    font-size: 12px;
    line-height: 24px;
    color: @dark;
    .site-transition;
  }
  &__name{
    display: inline-block;
    .ProximaNova-Bold;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: @black;
    .site-transition
  }
}
