/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@sprite-arrow-name: sprite__arrow;
@sprite-arrow-x: 0px;
@sprite-arrow-y: 0px;
@sprite-arrow-offset-x: 0px;
@sprite-arrow-offset-y: 0px;
@sprite-arrow-width: 32px;
@sprite-arrow-height: 102px;
@sprite-arrow-total-width: 151px;
@sprite-arrow-total-height: 111px;
@sprite-arrow-image: '../img/sprites/png/png-sprite.png';
@sprite-arrow: 0px 0px 0px 0px 32px 102px 151px 111px '../img/sprites/png/png-sprite.png' sprite__arrow;
@sprite-employee-arrow-name: sprite__employee-arrow;
@sprite-employee-arrow-x: 107px;
@sprite-employee-arrow-y: 0px;
@sprite-employee-arrow-offset-x: -107px;
@sprite-employee-arrow-offset-y: 0px;
@sprite-employee-arrow-width: 44px;
@sprite-employee-arrow-height: 22px;
@sprite-employee-arrow-total-width: 151px;
@sprite-employee-arrow-total-height: 111px;
@sprite-employee-arrow-image: '../img/sprites/png/png-sprite.png';
@sprite-employee-arrow: 107px 0px -107px 0px 44px 22px 151px 111px '../img/sprites/png/png-sprite.png' sprite__employee-arrow;
@sprite-employee-nav-arow-name: sprite__employee-nav-arow;
@sprite-employee-nav-arow-x: 0px;
@sprite-employee-nav-arow-y: 102px;
@sprite-employee-nav-arow-offset-x: 0px;
@sprite-employee-nav-arow-offset-y: -102px;
@sprite-employee-nav-arow-width: 46px;
@sprite-employee-nav-arow-height: 9px;
@sprite-employee-nav-arow-total-width: 151px;
@sprite-employee-nav-arow-total-height: 111px;
@sprite-employee-nav-arow-image: '../img/sprites/png/png-sprite.png';
@sprite-employee-nav-arow: 0px 102px 0px -102px 46px 9px 151px 111px '../img/sprites/png/png-sprite.png' sprite__employee-nav-arow;
@sprite-gamburger-name: sprite__gamburger;
@sprite-gamburger-x: 107px;
@sprite-gamburger-y: 47px;
@sprite-gamburger-offset-x: -107px;
@sprite-gamburger-offset-y: -47px;
@sprite-gamburger-width: 28px;
@sprite-gamburger-height: 21px;
@sprite-gamburger-total-width: 151px;
@sprite-gamburger-total-height: 111px;
@sprite-gamburger-image: '../img/sprites/png/png-sprite.png';
@sprite-gamburger: 107px 47px -107px -47px 28px 21px 151px 111px '../img/sprites/png/png-sprite.png' sprite__gamburger;
@sprite-header-menu-cross-name: sprite__header-menu-cross;
@sprite-header-menu-cross-x: 107px;
@sprite-header-menu-cross-y: 68px;
@sprite-header-menu-cross-offset-x: -107px;
@sprite-header-menu-cross-offset-y: -68px;
@sprite-header-menu-cross-width: 18px;
@sprite-header-menu-cross-height: 17px;
@sprite-header-menu-cross-total-width: 151px;
@sprite-header-menu-cross-total-height: 111px;
@sprite-header-menu-cross-image: '../img/sprites/png/png-sprite.png';
@sprite-header-menu-cross: 107px 68px -107px -68px 18px 17px 151px 111px '../img/sprites/png/png-sprite.png' sprite__header-menu-cross;
@sprite-index-arrow-name: sprite__index-arrow;
@sprite-index-arrow-x: 107px;
@sprite-index-arrow-y: 22px;
@sprite-index-arrow-offset-x: -107px;
@sprite-index-arrow-offset-y: -22px;
@sprite-index-arrow-width: 27px;
@sprite-index-arrow-height: 25px;
@sprite-index-arrow-total-width: 151px;
@sprite-index-arrow-total-height: 111px;
@sprite-index-arrow-image: '../img/sprites/png/png-sprite.png';
@sprite-index-arrow: 107px 22px -107px -22px 27px 25px 151px 111px '../img/sprites/png/png-sprite.png' sprite__index-arrow;
@sprite-member-arrow-name: sprite__member-arrow;
@sprite-member-arrow-x: 125px;
@sprite-member-arrow-y: 68px;
@sprite-member-arrow-offset-x: -125px;
@sprite-member-arrow-offset-y: -68px;
@sprite-member-arrow-width: 26px;
@sprite-member-arrow-height: 9px;
@sprite-member-arrow-total-width: 151px;
@sprite-member-arrow-total-height: 111px;
@sprite-member-arrow-image: '../img/sprites/png/png-sprite.png';
@sprite-member-arrow: 125px 68px -125px -68px 26px 9px 151px 111px '../img/sprites/png/png-sprite.png' sprite__member-arrow;
@sprite-quotes-name: sprite__quotes;
@sprite-quotes-x: 69px;
@sprite-quotes-y: 0px;
@sprite-quotes-offset-x: -69px;
@sprite-quotes-offset-y: 0px;
@sprite-quotes-width: 38px;
@sprite-quotes-height: 30px;
@sprite-quotes-total-width: 151px;
@sprite-quotes-total-height: 111px;
@sprite-quotes-image: '../img/sprites/png/png-sprite.png';
@sprite-quotes: 69px 0px -69px 0px 38px 30px 151px 111px '../img/sprites/png/png-sprite.png' sprite__quotes;
@sprite-vacancy-arrow-hover-name: sprite__vacancy-arrow--hover;
@sprite-vacancy-arrow-hover-x: 69px;
@sprite-vacancy-arrow-hover-y: 39px;
@sprite-vacancy-arrow-hover-offset-x: -69px;
@sprite-vacancy-arrow-hover-offset-y: -39px;
@sprite-vacancy-arrow-hover-width: 26px;
@sprite-vacancy-arrow-hover-height: 9px;
@sprite-vacancy-arrow-hover-total-width: 151px;
@sprite-vacancy-arrow-hover-total-height: 111px;
@sprite-vacancy-arrow-hover-image: '../img/sprites/png/png-sprite.png';
@sprite-vacancy-arrow-hover: 69px 39px -69px -39px 26px 9px 151px 111px '../img/sprites/png/png-sprite.png' sprite__vacancy-arrow--hover;
@sprite-vacancy-arrow-name: sprite__vacancy-arrow;
@sprite-vacancy-arrow-x: 107px;
@sprite-vacancy-arrow-y: 85px;
@sprite-vacancy-arrow-offset-x: -107px;
@sprite-vacancy-arrow-offset-y: -85px;
@sprite-vacancy-arrow-width: 26px;
@sprite-vacancy-arrow-height: 9px;
@sprite-vacancy-arrow-total-width: 151px;
@sprite-vacancy-arrow-total-height: 111px;
@sprite-vacancy-arrow-image: '../img/sprites/png/png-sprite.png';
@sprite-vacancy-arrow: 107px 85px -107px -85px 26px 9px 151px 111px '../img/sprites/png/png-sprite.png' sprite__vacancy-arrow;
@sprite-vacancy-modal-arrow-name: sprite__vacancy-modal-arrow;
@sprite-vacancy-modal-arrow-x: 69px;
@sprite-vacancy-modal-arrow-y: 30px;
@sprite-vacancy-modal-arrow-offset-x: -69px;
@sprite-vacancy-modal-arrow-offset-y: -30px;
@sprite-vacancy-modal-arrow-width: 26px;
@sprite-vacancy-modal-arrow-height: 9px;
@sprite-vacancy-modal-arrow-total-width: 151px;
@sprite-vacancy-modal-arrow-total-height: 111px;
@sprite-vacancy-modal-arrow-image: '../img/sprites/png/png-sprite.png';
@sprite-vacancy-modal-arrow: 69px 30px -69px -30px 26px 9px 151px 111px '../img/sprites/png/png-sprite.png' sprite__vacancy-modal-arrow;
@sprite-vacancy-modal-cross-name: sprite__vacancy-modal-cross;
@sprite-vacancy-modal-cross-x: 32px;
@sprite-vacancy-modal-cross-y: 0px;
@sprite-vacancy-modal-cross-offset-x: -32px;
@sprite-vacancy-modal-cross-offset-y: 0px;
@sprite-vacancy-modal-cross-width: 37px;
@sprite-vacancy-modal-cross-height: 38px;
@sprite-vacancy-modal-cross-total-width: 151px;
@sprite-vacancy-modal-cross-total-height: 111px;
@sprite-vacancy-modal-cross-image: '../img/sprites/png/png-sprite.png';
@sprite-vacancy-modal-cross: 32px 0px -32px 0px 37px 38px 151px 111px '../img/sprites/png/png-sprite.png' sprite__vacancy-modal-cross;
@sprite-who-we-are-nav-next-name: sprite__who-we-are-nav__next;
@sprite-who-we-are-nav-next-x: 134px;
@sprite-who-we-are-nav-next-y: 22px;
@sprite-who-we-are-nav-next-offset-x: -134px;
@sprite-who-we-are-nav-next-offset-y: -22px;
@sprite-who-we-are-nav-next-width: 10px;
@sprite-who-we-are-nav-next-height: 16px;
@sprite-who-we-are-nav-next-total-width: 151px;
@sprite-who-we-are-nav-next-total-height: 111px;
@sprite-who-we-are-nav-next-image: '../img/sprites/png/png-sprite.png';
@sprite-who-we-are-nav-next: 134px 22px -134px -22px 10px 16px 151px 111px '../img/sprites/png/png-sprite.png' sprite__who-we-are-nav__next;
@sprite-who-we-are-nav-prev-name: sprite__who-we-are-nav__prev;
@sprite-who-we-are-nav-prev-x: 135px;
@sprite-who-we-are-nav-prev-y: 47px;
@sprite-who-we-are-nav-prev-offset-x: -135px;
@sprite-who-we-are-nav-prev-offset-y: -47px;
@sprite-who-we-are-nav-prev-width: 10px;
@sprite-who-we-are-nav-prev-height: 16px;
@sprite-who-we-are-nav-prev-total-width: 151px;
@sprite-who-we-are-nav-prev-total-height: 111px;
@sprite-who-we-are-nav-prev-image: '../img/sprites/png/png-sprite.png';
@sprite-who-we-are-nav-prev: 135px 47px -135px -47px 10px 16px 151px 111px '../img/sprites/png/png-sprite.png' sprite__who-we-are-nav__prev;
@spritesheet-width: 151px;
@spritesheet-height: 111px;
@spritesheet-image: '../img/sprites/png/png-sprite.png';
@spritesheet-sprites: @sprite-arrow @sprite-employee-arrow @sprite-employee-nav-arow @sprite-gamburger @sprite-header-menu-cross @sprite-index-arrow @sprite-member-arrow @sprite-quotes @sprite-vacancy-arrow-hover @sprite-vacancy-arrow @sprite-vacancy-modal-arrow @sprite-vacancy-modal-cross @sprite-who-we-are-nav-next @sprite-who-we-are-nav-prev;
@spritesheet: 151px 111px '../img/sprites/png/png-sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
