.bg-color-grey{
  background-color: @bg-color-grey;
}
.site-transition{
  transition: all .5s ease;
}

.headers-line{
  width: 45px;
  height: 2px;
  border-bottom: 2px solid @red;
  margin-top: 15px;
}