.we-headers{
  margin-top: 235px;
  text-align: center;
}
.we-main-text{
  margin-top: 35px;
}
//.half-bordered{
//  border: 10px solid @red;
//  border-bottom: none!important;
//  height: 100px;
//}
//.half-bordered-container{
//  position: absolute;
//  bottom: 0;
//  left: 0;
//  right: 0;
//}
//.arrow{
//  .sprite(@sprite-arrow);
//  position: relative;
//  left: calc(~"50% - 16px");
//  bottom: 51px;
//  &:hover{
//    animation-name: arrow-movement;
//    animation-duration:1s;
//    animation-iteration-count: infinite;
//    animation-timing-function: linear;
//  }
//  > a{
//    width: 32px;
//    height: 102px;
//    display: inline-block;
//  }
//}
//
//@keyframes arrow-movement {
//  from {
//    bottom: 51px;
//  }
//  50% {
//    bottom: 41px;
//  }
//  to {
//    bottom: 61px;
//  }
//}

.team{
  border: 10px solid @red;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;
  height: 530px;
  @media (max-height: 650px) {
    height: 420px;
  }
  &:hover{
    .team__name{color: @red};
  }
  &__member{
    width: 760px;
    height: 100%;
    text-align: center;
  }
  &__position{
    .ProximaNova-Regular;
    font-size: 14px;
    color: @dark;
    letter-spacing: 2px;
    margin-top: 2%;
    margin-bottom: 0;
  }
  &__name{
    .ProximaNova-Black;
    font-size: 120px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: normal;
    font-weight: 600;
    position: relative;
    z-index: 10;
    .site-transition;
  }
  &__slogan{
    font-size: 18px;
    margin-bottom: 2%;
    margin-top: 2%;
    position: relative;
    z-index: 10;
  }
  &__photo{
//    width: 720px;
//    height: 670px;
    min-height: 460px;
    height: 110%;
    overflow: hidden;
    position: absolute;
    object-fit: cover;
    right: 0;
    bottom: 0;
  }
}


// Styles for fullPage.js
#we-fullpage {

  .fp-controlArrow{
    position: absolute;
    z-index: 4;
    cursor: pointer;
    width: 72px!important;
    height: 72px!important;
    border-style: solid;
    margin-top: -38px;
    transform: translate3d(0,0,0);
    background-color: @white;
  }
  .fp-controlArrow.fp-prev {
    border: none;
    left: 0;
    .site-transition;
    &:hover{
      background-color: @red;
    }
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      z-index: 5;
      background-image: url(../img/images/team-slider-arrow.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border: none;
    }
    &:hover:before{
      background-image: url(../img/images/team-slider-arrow--hover.png);
      transform: rotate(180deg);
      background-position: 50% 50%;
    }
  }
  .fp-controlArrow.fp-next {
    border: none;
    right: 0;
    .site-transition;
    &:hover{
      background-color: @red;
    }
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-image: url(../img/images/team-slider-arrow.png);
      transform: rotate(180deg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border: none;
    }
    &:hover:before{
      background-image: url(../img/images/team-slider-arrow--hover.png);
      transform: rotate(360deg);
      background-position: 50% 50%;
    }
  }

  .fp-slidesNav{
    position: relative;
    margin-left: 0!important;
    text-align: center;
    left: 0;
  }
  .fp-slidesNav.bottom{
//    bottom: 150px;
    bottom: 15%;
    @media (max-height: 800px) {
      display: none;
    }

    li{
      width: 50px;
      height: 2px;
      margin-right: 5px;
    }

    span {
      .site-transition;
      width: 50px;
      height: 2px;
      background-color: @white;
      border-radius: 0;
      margin: 0;
      margin-right: 5px;
      &:hover{
        height: 8px;
        border-radius: 0;
      }
    }
    a.active span{
      background-color: @red;
      border-radius: 0;
    }
  }
}

.member-wrapper{  margin-top: 80px; }
.member{
  height: 260px;
  background-color: transparent;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 50px;
  cursor: pointer;
  &:hover{
    .member__wrapper{  background-color: @red;}
    .member__name{  color: @white; }
    .member__role{  display: none;  }
    .member__arrow{ display: inline-block;  }
    .member__photo-bg{  display: none;  }
    .member__photo{  opacity: 1; }
  }
  &__wrapper{
    padding-top: 30px;
    text-align: center;
    height: 260px;
    margin: 0 auto;
    background-color: @white;
    width: 80%;
    .site-transition;
  }
  &__photo{
    display: inline-block;
    position: relative;
    height: 122px;
    width: 122px;
    border-radius: 50%;
    opacity: .35;
    z-index: 5;
    .site-transition;
  }
  &__photo-bg{
    display: inline-block;
    background-color: @red;
    width: 122px;
    height: 122px;
    position: relative;
    top: -122px;
    border-radius: 50%;
    .site-transition;
  }
  &__name{
    .ProximaNova-Black;
    line-height: 36px;
    font-weight: 600;
    position: relative;
    top: -130px;
    z-index: 5;
    .site-transition;
  }
  &__role{
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    top: -117px;
    line-height: normal;
    .site-transition;
  }
  &__arrow{
    display: none;
    position: relative;
    bottom: 112px;
    .sprite(@sprite-member-arrow);
    .site-transition;
  }
}

.vacancy-wrapper{  margin-top: 35px;  margin-bottom: 150px; }
.vacancy{
  height: 340px;
  border: 10px solid @red;
  text-align: center;
  padding-top: 65px;
  cursor: pointer;
  &:hover{
    background-color: @red;
    .vacancy__name{color: @white}
    .vacancy__offer{color: @white}
    .vacancy__arrow{.sprite(@sprite-vacancy-arrow-hover);}
  }
  &__name{
    margin-bottom: 40px;
    .site-transition;
  }
  &__offer{
    .ProximaNova-Regular;
    font-size: 24px;
    margin-bottom: 50px;
    .site-transition;
  }
  &__arrow{
    display: inline-block;
    .sprite(@sprite-vacancy-arrow);
    .site-transition;
  }
}

.vacancy-modal{
  height: 100%;
  width: 100%;
  background-color: @white;
  display: none;
//  position: absolute;
  &--active{
    display: block;
  }
  &__wrapper{
    padding-bottom: 100px;
    padding-top: 100px;
    overflow: auto;
    height: 100%;
  }
  &__title{
    .ProximaNova-Bold;
    font-size: 56px;
    margin-bottom: 60px;
  }
  &__subtitle{
    .ProximaNova-Bold;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__text{
    .ProximaNova-Regular;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__btn{
    .ProximaNova-Bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 60px;
    width: 370px;
    padding-left: 30px;
    border: 4px solid @red;
    position: relative;
    margin-top: 65px;
    background-color: transparent;
    text-align: left;
    outline: none;
    .site-transition;
    &:hover{
      background-color: @red;
      color: @white;
      .vacancy-modal__arrow{.sprite(@sprite-vacancy-arrow-hover);}
    }
  }
  &__arrow{
    .sprite(@sprite-vacancy-modal-arrow);
    position: absolute;
    right: 30px;
    top: calc(~"50% - 5px");
    display: inline-block;
    .site-transition;
  }
  &__cross{
    .sprite(@sprite-vacancy-modal-cross);
    position: absolute;
    right: 40px;
    top: 50px;
    display: inline-block;
    cursor: pointer;
  }
}

// Styles for slider
.we-slide{
  margin-top: 150px;
  .slick-next, .slick-prev{
    .site-transition;
    display: block;
    width: 72px;
    height: 72px;
    background-color: @white;
    position: absolute;
    top: calc(~"50% + 36px");
    &:hover{
      background-color: @red;
    }
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      z-index: 5;
      background-image: url(../img/images/team-slider-arrow.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border: none;
      top: 0;
    }
    &:hover:before{
      background-image: url(../img/images/team-slider-arrow--hover.png);
      transform: rotate(180deg);
      background-position: 50% 50%;
    }
  }
  .slick-next{
    right: 0;
    transform: rotate(180deg);
  }
  .slick-prev{
    left: 0;
  }
  .slick-dots{
    li{
      width: 50px;
      height: 2px;
      margin-right: 5px;
      background-color: @white;
      display: inline-block;
      .site-transition;
      &.slick-active{
        background-color: @red;
        border-radius: 0;
        height: 8px;
      }
      &:hover{
        background-color: @red;
        border-radius: 0;
        height: 8px;
      }
    }
    button{
      width: 50px;
      height: 2px;
      background-color: transparent;
      border-radius: 0;
      margin: 0;
      margin-right: 5px;
      padding: 0;
      &:before{
        content: '';
        font-size: 0;
        line-height: 0;
        color: transparent;
      }
    }
  }
}