.we-headers{
  margin-top: 150px;
}
.we-main-text{
  margin-top: 35px;
}
.half-bordered{
  border: 10px solid @red;
  border-bottom: none;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.arrow{
  .sprite(@sprite-arrow);
  position: relative;
  left: calc(~"50% - 16px");
  bottom: 51px;
}